@import "tailwindcss";

/* import Gerbil Font */
@font-face {
  font-family: 'Gerbil';
  src: url('./assets/fonts/gerbil.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* import Satoshi Font */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
  font-display: swap;
}


@theme {
  /* Fonts */
  --font-gerbil: "Gerbil", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  /* Colors */
  --color-primary: #0f0f0f;
  --color-primary-text: #000000;
  --color-highlight: #FF7171;
  --color-accent-green: #D7EEDD;
  --color-accent-pink: #FFC2EA;
  --color-accent-border: #B1B1B1;
}

